<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>

<body>
    <div class="register">
        <div class="left">
            <div class="login">Register</div>
            <div class="eula">By register in you agree to the ridiculously long terms that you didn't bother to
                read.<br>If you have account, please <a href="/login">Register</a> first
            </div>
        </div>
        <div class="right">

            <form class="form" method="POST" action="/user/register">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" value="{{user.name}}">
                    <div class="line"></div>
                    <div class="d-e"></div>
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" value="{{user.email}}">
                    <div class="line"></div>
                    <div class="d-e">{{err}}</div>
                    <i class="fas fa-exclamation-triangle"></i>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" value="{{user.password}}">
                    <div class="line"></div>
                    <div class="d-e"></div>
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <button class="submit active">SUBMIT</button>

            </form>
        </div>
    </div>
    <script>
        const submit = document.querySelector('button');
        const form = document.querySelector('form');
        var e = [];
        var l=document.querySelectorAll('.line');
        var de=document.querySelector('.d-e')
        e[0] = document.querySelector('input[name="name"]');
        e[1] = document.querySelector('input[name="email"]');
        e[2] = document.querySelector('input[name="password"]');
        if(e[1].value.length!=0){
          e[1].parentElement.classList.add('err');
        }

        var error = document.querySelectorAll('.d-e');
        
        form.onsubmit = function (a) {
            var err=false;
            for(var i=0;i<e.length;i++){
                if(e[i].value.length===0){
                    e[i].parentElement.classList.add('err');
                    err=true;
                    console.log(e[i].parentElement)
                }
               
            }
             if(err) a.preventDefault();
           // a.preventDefault();

        };
        

    </script>
</body>

</html>